:host {
    display: block;
    color: #3E3D53;
    padding: 3rem 2rem;
}
.title
{
    font-size: 3rem;
    padding: 0 0 2rem;
    text-align: center;
    font-style: bold;
    color: #7C6E7F;
    font-family: 'Roboto Condensed', sans-serif;
}
.container {
    gap: 2rem;
    display: grid;
}

table {
    font-size: 1.3rem;
    outline: 2px solid #333333;
}

table tr {
    height: 40px;
}

table tr td {
    padding-left: 0.5rem;
}

table tr td:nth-child(even) {
    color: #322d31;
}

section p {
    font-size: 1.2rem;
    text-align: justify;
}

section p:not(:first-child) {
    margin-top: 1rem;
}
hr{
    
    display: block;
height: 1px;
border: 0;
border-top: 4px solid #373737;
margin: 1em 0;
padding: 0;
  }

/* PC */

:host.pc {
    margin-top: 3rem ;
    
    
}

:host.pc .container {
    grid-template-columns: 1fr 1fr;
}

:host.pc h1 {
    grid-column: 1/3;
    
}

:host.pc section,
:host.pc table {
    width: 80%;
    margin: auto;
}