
   <mat-toolbar color="red">
  <span>Portfolio</span>
  <span class="example-spacer"></span>
  <div>
    <nav>
      <a mat-button routerLink="/home" routerLinkActive="active">HOME</a>
      <a mat-button routerLink="/aboutme" >ABOUT ME</a>
      <a mat-button routerLink="/projects" >PROJECTS</a>
      <a mat-button routerLink="/services" >SERVICES</a>
      <a mat-button routerLink="/contactme" >CONTACT ME</a>
    </nav>
  </div>
 </mat-toolbar>

 <router-outlet></router-outlet>
 <br>
 <div class="container">
     <div class="title">
       <span> MY PORTFOLIO</span>
        <br>
     </div>
     <br>
      <div class="profile">
       <div class="profile-bg">
        <img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t39.30808-6/306767433_5454120671375487_3937033817135734177_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=3kFHIzp2Le8AX_jWikH&_nc_ht=scontent-yyz1-1.xx&oh=00_AfBKscKI4NHQLdFsdpKeT61tLz38e2FYDkqrtCphVvdcIw&oe=648A7B67"  alt="">
       </div>
      </div>
     <div class="name">
       <span>
          <span>Hii</span> I am
       </span><br><br>
       <span>Ronan Kayastha</span><br><br>
       <span>Software Developer</span>

      </div>
      

  </div>
